<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Renda-Extra</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="login.html">Adicionar Oferta</a>
                  </li>
                  <li>
                      <a href="login.html">Buscar Serviço</a>
                  </li>
                    <li>
                        <a href="login.html">Feed</a>
                    </li>
                    <li>
                        <a href="index.html">Deslogar</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                
                <div>
           <br>
                
                    <h1 class="page-header">Ofertas
                </h1>
                    
                </div>
               
                
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Ofertas</li>
                
                </ol>
            </div>

        </div>
        <!-- /.row -->


        <!-- /.row -->

        <hr>
<form class="form-search text-right">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Busca</button>
    </form>
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-2">
                <!--<a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="img/encanador2.jpg" alt="">
                </a>-->
            </div>
            <!--<div class="col-md-5">-->
                <h3>Nilson Augusto</h3>
                <h4>Encanador</h4>
                <p>Trabalho com encanações há 10 anos, tenho bastante experiência em consertos residenciais e comerciais.</p>
                <a class="btn btn-primary" href="portfolio-item.html">Ver perfil</i></a>
            <!--</div>-->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-2">
                <!--<a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="img/muro.JPG" alt="">
                </a>-->
            </div>
            <!--<div class="col-md-5">-->
                <h3>Pedro Brandão</h3>
                <h4>Pedreiro</h4>
                <p>Sei fazer pequenos reparos em casa e alguns serviços maiores como levantar muros ou instalar telhado.</p>
                <a class="btn btn-primary" href="portfolio-item.html">Ver perfil</i></a>
            <!--</div>-->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-2">
                <!--<a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="img/diarista.JPG" alt="">
                </a>-->
            </div>
            <!--<div class="col-md-5">-->
                <h3>John Silva</h3>
                <h4>Pintor</h4>
                <p>Sou um artista completo, posso tanto fazer pinturas em telas quando paisagens e pintura em paredes.</p>
                <a class="btn btn-primary" href="portfolio-item.html">Ver perfil</i></a>
            <!--</div>-->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-2">
                <!--<a href="#">-->
                    <!--<img class="img-responsive img-hover" src="img/lavar roupa.jpg" alt="">
                </a>-->
            </div>
            <!--<div class="col-md-5">-->
                <h3>Abigobaldo Rocha</h3>
                <h4>Lavagem de roupas</h4>
                <p>Posso lavar e passar roupas, basta levar na minha lojinha de roupas.</p>
                <a class="btn btn-primary" href="#">Ver perfil</a>
            <!--</div>-->
        </div>

<hr>
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="img-responsive img-hover" src="img/manicure.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Manicure para festa</h3>
                <h4>Arianne Rocha</h4>
                <p>Quero uma manicure para fazer as unhas para festa (dia 28)</p>
                <a class="btn btn-primary" href="#">View Project</a>
            </div>
        </div>
<hr>

        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="img-responsive img-hover"  src="img/fiação.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Concerto de fiação</h3>
                <h4>Juliane Santos</h4>
                <p>Preciso de um eletricista para reparo em uma fiação queimada</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
